::-webkit-scrollbar {
  width: 5px;

  height: 8px;

  background-color: #fff;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

/*定义滑块*/

::-webkit-scrollbar-thumb {
  background-color: #acb1bf;

  border-radius: 4px;
}

.docs-story>div>div{
  height: 300px !important;
  width: 500px;
  transform: unset !important;
  min-height: 100px !important;
  width: 100%;
  /* transform: unset !important; */
  position: relative !important;
  overflow: hidden;
  z-index: 1000000;
}
